################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.idea
/.vs
/ycm/__pycache__
/ycm/data/car_numbers - 副本.db
